[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -20
	st = status
	sts = status -s
	fa = fetch --all
	fap = fetch --all --prune
	aliases = config --get-regex alias
	co = checkout
	br = branch
	cv = commit -v
	ca = commit --amend
	cav = commit --amend -v
	di = diff
	diw = diff --word-diff
	dis = diff --stat
	ri = rebase -i
	slist = stash list
	spush = stash push -m
	spop = stash pop
	sapply = stash apply
[merge]
	conflictstyle = diff3
[gui]
	encoding = utf-8
[rebase]
	autoSquash = true
[diff]
	algorithm = histogram
[pull]
	ff = only
