[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -20
	st = status
	sts = status -s
	fa = fetch --all
	fap = fetch --all --prune
	aliases = config --get-regex alias
	co = checkout
	br = branch
	cv = commit -v
	di = diff
	diw = diff --word-diff
	cam = commit --amend -v
	slist = stash list
	spush = stash push -m
	spop = stash pop
	sapply = stash apply
[merge]
	conflictstyle = diff3
[rebase]
	autoSquash = true
